

.introduction--container {
    background-color: #F9FBF7;
    gap: 7vw;
}

/* Columna izquierda (Texto y botones) */
.left-column {
    flex: 1;
}

/* Columna derecha (Imagen) */
.right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



